@model ImageServiceWebApp.Models.PhotosModel
@{
    ViewBag.Title = "Photos";
}

<h2>Photos</h2>
@foreach (var photo in Model.PhotosInfo)
{
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <div class="thumbnail">
                <a href="#"></a>
                <img src="\OutputDir\Thumbnails\@photo.Year\@photo.Month\@photo.Name"
                     class="img-circle" alt="Sample Photo" width="304" height="236">
                <div class="caption">
                    <h3 style="font-size:medium">@photo.Name</h3>
                    <p>@photo.Year, @photo.Month</p>
                </div>

                @Html.ActionLink("View", "ShowPhoto", new { infoID = @photo.ID }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Delete", "RemovePhoto", new { infoID = @photo.ID }, new { @class = "btn btn-danger" })

            </div>
        </div>
    </div>

}



